body{
    background-color: #0f0f0f; /* preto moderno */
    padding: 40px;
    font-family: Arial, sans-serif;
}

header{
    text-align: center;
    background-color: #c62828; /* vermelho forte */
    color: white;
    border-radius: 10px;
}

nav a{
    text-align: center;
    background-color: #ffca28; /* amarelo destaque */
    margin: 20px;
    color:#0f0f0f;
    border-radius: 0px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

article{
    background-color: #000000; /* cinza escuro */
    color:white;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
}

article h3{
    color: #ff5252; /* vermelho mais claro */
}

article:hover{
    transform: scale(1.02);
    transition: 0.3s;
}

.sobre-nos{
    text-align: center;
    background-color: #2a2a2a;
    color: white;
    border-radius: 20px;
}

.combos{
    text-align: center;
    background-color: #1f1f1f;
    color: white;
    border-radius: 20px;
}

.avaliacao{
    text-align: center;
    background-color: #2a2a2a;
    color:white;
    border-radius: 20px;
}

.contatos{
    text-align: center;
    background-color: #1f1f1f;
    color:white;
    border-radius: 20px;
}

.faca-avaliacao{
    text-align: center;
    background-color: #2a2a2a;
    color:white;
    border-radius: 20px;
}

footer{
    text-align: center;
    background-color: #c62828;
    color:white;
    border-radius: 20px;
}